<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/styles/producto.css">
    <title>Document</title>
</head>
<body>
    <h1>{{ nombre }}</h1>
     <div class="producto">
       
       
        <img  class="producto__imagen" src={{urlImg}} alt="">
        
        <h3 class="producto__nombre">{{nombre}}</h3>
        <h5 class="producto__precio">{{precio}}</h5>
        <h5>{{precio}}</h5>
        <button name="{{nombre}}" class="agregar">Agregar</button>

    </div>
   
     <script src="/js/store.js"></script>
      <script src="/js/carrito.js"></script>
</body>
</html>