<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans+Condensed:700|Roboto:300,300i,400" rel="stylesheet">


    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>

      
      <nav class="navi">
        <div class="navi__cont">
            <img class="navi__cont__logo" src="images/logo.png" alt="logo">
            <ul class="navi__cont__options">
                <li class="navi__cont__options__item"><a href="/" >Home</a></li>
                <li class="navi__cont__options__item"><a  >Tours</a></li>
               
                <li class="navi__cont__options__item"><a>Hoteles</a></li>
                <li class="navi__cont__options__item"><a href="/store" class="navi__cont__options__item__activo">Destinos</a></li>
                <li class="navi__cont__options__item"><a>Ayuda</a></li>
            </ul>
            <form class="navi__cont__search">
                <img class="navi__cont__search__lupa" src="images/search.png" alt="logo" width="50">

                <input class="navi__cont__search__txt" type="text" name="" placeholder="">

            </form>
        </div>
        <div class="navi__cont-derecha">
            <ul class="navi__cont-derecha__options">
                <li class="navi__cont-derecha__options__item">
                    <button class="navi__cont-derecha__options__item__signin">Sign in</button>

                </li>
                <li class="navi__cont-derecha__options__item">

                    <button class="navi__cont-derecha__options__item__signup">Sign up</button>
                </li>
            </ul>
        </div>

    </nav>


 <section class="primera" src="../public/images/tours.jpg" data-pos-x="left" data-parallax>
        <div class="primera__banner">
            <h1 class="primera__banner__titulo">DESTINOS</h1>
            <h5 class="primera__banner__frase">Viaja al lugar de tus sueños</h5>
           
        </div>

 
    </section>
  

    
    <section class="tienda">
        
            <article class="seccion-productos">
    {{#each listaProductos}}
    <div class="producto">
         <a class="producto-link" href="/producto/{{nombre}}">
        <img src={{urlImg}} alt="">
        </a>
        <h3>{{nombre}}</h3>
        <h5>{{precio}}</h5>
        <button class="agregar">Agregar</button>

    </div>
   
    
    {{/each}}

    <!-- puto el que lo lea -->
    </article>

    <article class="seccion-lateral">

         <a href="/store?dias=1">1</a>
     <a href="/store?dias=2">2</a>
     <a href="/store?dias=3">3</a>
     <a href="/store?dias=4">4</a>
     <a href="/store?dias=5">5</a>

     <a href="/store?estrellas=1">1 estrellas</a>
     <a href="/store?estrellas=2">2 estrellas</a>
     <a href="/store?estrellas=3">3 estrellas</a>
     <a href="/store?estrellas=4">4 estrellas</a>
     <a href="/store?estrellas=5">5 estrellas</a>

    <input value={{valorInput}} id="inputPrecio" type="range" name="precio" min="1000" max="16000">


    </article>
    
    </section>


  <script src="/js/store.js"></script>

</body>
</html>