<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans+Condensed:700|Roboto:300,300i,400" rel="stylesheet">


    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>

      
      <nav class="navi">
        <div class="navi__cont">
            <img class="navi__cont__logo" src="images/logo.png" alt="logo">
            <ul class="navi__cont__options">
                <li class="navi__cont__options__item"><a href="/" >Home</a></li>
                <li class="navi__cont__options__item"><a  >Tours</a></li>
               
                <li class="navi__cont__options__item"><a>Hoteles</a></li>
                <li class="navi__cont__options__item"><a href="/store" class="navi__cont__options__item__activo">Destinos</a></li>
                <li class="navi__cont__options__item"><a>Ayuda</a></li>
            </ul>
            <form class="navi__cont__search">
                <img class="navi__cont__search__lupa" src="images/search.png" alt="logo" width="50">

                <input class="navi__cont__search__txt" type="text" name="" placeholder="">

            </form>
        </div>
        <div class="navi__cont-derecha">
         <ul class="navi__cont-derecha__options">
                <li class="navi__cont-derecha__options__item">
                    <img src="../images/perfil.png" alt="">
                    <button class="navi__cont-derecha__options__item__signin">Perfil</button>

                </li>
                <li class="navi__cont-derecha__options__item">

                    <button class="navi__cont-derecha__options__item__signup"><a href="/carrito" class="link-carrito" >Tus viajes:  <span class="carrito__num"></span></a></button>
                </li>
            </ul>
        </div>

    </nav>


 <section class="primera" data-src="/images/tours.jpg" data-pos-x="left" data-parallax>
        <div class="primera__banner">
            <h1 class="primera__banner__titulo">DESTINOS</h1>
            <h5 class="primera__banner__frase">Viaja al lugar de tus sueños</h5>
           
        </div>

 
    </section>
  

    
    <section class="tienda">
        
            <article class="seccion-productos">
    {{#each listaProductos}}
    <div class="productoF">

        <div class="productoF__cont__izq">
                <a class="productoF-link" href="/producto/{{nombre}}">
                
                <img  class="productoF__imagen" src={{urlImg}} alt="">
                </a>
        </div>
         
        
        <h3 class="productoF__nombre">{{nombre}}</h3>
        <div class="productoF__cont__der">
                    <h5 class="productoF__precio">{{precio}}</h5>
        <button name="{{nombre}}" class="agregar">Guardar plan</button>
        </div>
        

    </div>
   
    
    {{/each}}

    </article>

    <article class="seccion-lateral">

        <h1 class="seccion-lateral__titulo"> Número de dias</h1>
         <a href="/store?dias=1">1</a>
     <a href="/store?dias=2">2</a>
     <a href="/store?dias=3">3</a>
     <a href="/store?dias=4">4</a>
     <a href="/store?dias=5">5</a>

   
   <div class="seccion-lateral__estrella">
       <h1 class="seccion-lateral__titulo"> Lujo</h1>
         <a class="seccion-lateral__estrella__item"  href="/store?estrellas=1">
          1 estrella
     <img class="seccion-lateral__estrella__icon" src="../images/1e.png">

      <input type="radio" name="rating" value="1e">
    </a>
     <br>
     <a class="seccion-lateral__estrella__item"  href="/store?estrellas=2">
        2 estrellas
      <img class="seccion-lateral__estrella__icon" src="../images/1e.png"> 
      <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
   
     <input type="radio" name="rating" value="1e">
     </a>
     <br>
     <a class="seccion-lateral__estrella__item"  href="/store?estrellas=3">
      
 
     3 estrellas
          <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
       <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
        <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
        <input type="radio" name="rating" value="1e">
        </a>
     <br>
     <a class="seccion-lateral__estrella__item"  href="/store?estrellas=4">
      4 estrellas
      <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
       <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
        <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
         <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
     
     <input type="radio" name="rating" value="1e"></a>
     <br>
     <a class="seccion-lateral__estrella__item" href="/store?estrellas=5">
      5 estrellas
      <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
       <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
        <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
         <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
          <img class="seccion-lateral__estrella__icon" src="../images/1e.png">
           
     
     <input type="radio" name="rating" value="1e"></a>
   </div>
    
    <h1 class="seccion-lateral__titulo"> Precio</h1>
     <h5 class="seccion-lateral__precioNum" id="precio" >00</h5>
    <input class="seccion-lateral__precio" value={{valorInput}} id="inputPrecio" type="range" name="precio" min="1000" max="16000">

     

            <div class="seccion-lateral__botones">
                <button class="seccion-lateral__boton">
                 <img src="../images/vector.png" alt="" width="17px" height="22px">
                <br>
                <p class="comprar__botonC__texto">Trending</p>
                </button>
                <button class="seccion-lateral__boton">
                 <img src="../images/flor.png" alt="" width="21px" height="21px">
                <br>
                <p class="comprar__botonC__texto">Ecológico</p>
                </button>
                <button class="seccion-lateral__boton">
                 <img src="../images/vector-2.png" alt="" width="21px" height="21px">
                <br>
                <p class="comprar__botonC__texto">Cruceros</p>
                </button>
                <button class="seccion-lateral__boton">
                 <img src="../images/vector-3.png" alt="" width="21px" height="21px">
                <br>
                <p class="comprar__botonC__texto">Para niños</p>
                </button>
                <button class="seccion-lateral__boton">
                 <img src="../images/huella.png" alt="" width="21px" height="17px">
                <br>
                <p class="comprar__botonC__texto">Pet friendly</p>
                </button>
                <button class="seccion-lateral__boton">
                 <img src="../images/vector-5.png" alt="" width="21px" height="21px">
                <br>
                <p class="comprar__botonC__texto">Playas</p>
                </button>
                       
            </div>
    </article>

          <section class="inscripcion" data-src="../images/globo.png" data-pos-x="left" data-parallax>


         <div class="inscripcion__cont">
                <h2 class="inscripcion__titulo">¿Nada aún?</h2>
                <p class="inscripcion__descripcion">¡Prueba la catergoría aleatoria y encuentra nuevos lugares por explorar!</p>

                
            </div>


        <button class="inscripcion__boton">
            <img src="../images/brujula.png" alt="" width="26px" height="26px">
            <br>
            <p class="inscripcion__boton__texto">Aleatorio</p>
                       

        </button>

    </section>


     <section class="footer">

      
        <div class="footer__cont">
                <div class="footer__cont__contacto">
                        <h3 class="footer__cont__contacto__titulo">Contacto</h3>
                   <p class="footer__cont__contacto__txt">  ultrices, morbi turpis nascetur ante iaculis sodales  </p>
           
                   </div>
                   <div class="footer__cont__local">
                           <h3 class="footer__cont__local__titulo">¿Dónde encontrarnos?</h3>
                           <p class="footer__cont__local__txt">Lorem ipsum dolor sit amet consectetur adipiscing elit ultrices, morbi turpis nascetur ante iaculis sodales fringilla, faucibus vel cursus velit at phasellus placerat. Leo nullam vel ultrices aptent natoque velit, dictumst laoreet  </p>
           
                   </div>
        </div>
      
        <div class="footer__suscripcion">

                <h3 class="footer__suscripcion__titulo">Suscribete a nuestro newsletter</h3>
                <div class="footer__suscripcion__cont">
                    <input type="text" class="correo"  placeholder="Correo electrónico">
                       
                        <button class="footer__suscripcion__cont__btn">Inscribirse</button>
                </div>
                <p class="footer__suscripcion__txt">Lorem ipsum dolor sit amet consectetur   </p>

                
        </div>

        <div  class="footer__redes">
            <img class="footer__redes__svg" src="../images/twitter.svg" alt="">
            <img class="footer__redes__svg" src="../images/facebook.svg" alt="">
            <img class="footer__redes__svg" src="../images/instagram.svg" alt="">
        </div>

    </section>
   
    
    </section>

  

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script src="/js/libs/parallax.js"></script>
  <script src="/js/store.js"></script>
   <script src="/js/carrito.js"></script>
      <script src="/js/script.js"></script>
 

</body>
</html>